* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  background-color: #3c3a39;
  align-items: flex-end;
  height: 92px;
  overflow: hidden;
}

.desktop-menu {
  display: none;
}

.mail-icon {
  display: none;
}

.nav-element {
  width: 50%;
  flex: 1;
}

.name-logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
  text-decoration: none;
}

.nav-logo {
  margin-left: 12px;
  padding: 10px 12px;
}

.hamburger-div {
  margin-right: 24px;
  margin-bottom: 4px;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40px;
  height: 40px;
}

.hamburger-icon {
  width: 18px;
  height: 12px;
}

.hero {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #1c1a19;
  height: 100%;
  overflow: hidden;
  padding-bottom: 24px;
  position: relative;
}

.hero-center {
  height: 50%;
  width: 70%;
}

.hero-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.hero-right {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  right: 0;
  width: 100%;
}

.illustartion-div-desktop {
  display: none;
}

.social-media {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 24px;
}

.social-icon {
  color: #dbd8d7;
  margin-right: 10px;
}

.primary-text {
  color: #ff6b00;
  margin: 120px 24px 0 24px;
  font-size: 46px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 46px;
  letter-spacing: 0.37px;
}

.supporting-text {
  color: #fff;
  margin: 12px 24px 0 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.description {
  color: #fff;
  margin: 12px 24px 0 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

/* Works Section */

.works {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  padding: 24px;
}

.divider-img {
  width: 100%;
}

.works-item {
  margin: auto 24px;
}

.works-subject {
  margin-top: 120px;
}

.skills-divider {
  background-color: #1c1a19;
}

.skills-divider img {
  width: 100%;
  height: 1px;
  padding: 0 12px;
}

.works-subject h3 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.works-screen {
  margin-top: 80px;
  width: 327px;
  height: 237px;
}

.works-subject-2 {
  margin-top: 24px;
}

.works-subject-2 h4 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.h4-desktop {
  display: none;
}

.works-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.tech {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.tech-list {
  margin-right: 12px;
  padding: 10px 12px;
  border: 1px solid#8993A4;
}

.tech-list a {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #091e42;
}

.btn_1 {
  width: 124px;
  height: 48px;
  margin-top: 24px;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  background-color: #ff6b00;
  line-height: 0.25em;
  letter-spacing: 3%;
  color: #fff;
  border: none;
}

.btn_1:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  cursor: pointer;
}

/* Works card styles */

.works-card-grid {
  position: relative;
  width: 320px;
  height: 386px;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 88% 12%;
  background-image: url(./assests/default-work-img.png);
  overflow: hidden;
}

.card-subject h4 {
  position: absolute;
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
  top: 22%;
  left: 5%;
}

.card-content-p {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #fff;
  top: 45%;
  left: 5%;
  right: 5%;
}

.btn-div {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3;
  background-color: black;
}

.card-tech ul {
  display: flex;
  position: absolute;
  top: 75%;
}

.card-tech ul li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin-left: 16px;
  margin-right: 12px;
}

.card-tech ul li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.card-btn {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  background-color: #ff6b00;
  line-height: 0.25em;
  letter-spacing: 3%;
  color: #fff;
  border: none;
  transition: 0.3s ease-in-out;
}

.card-btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  cursor: pointer;
}

.card-btn:active {
  background-color: #e05304;
  color: #fff5e1;
  cursor: pointer;
}

/* About */

.about {
  height: auto;
  display: flex;
  overflow: hidden;
  background-color: #1c1a19;
  margin-top: 25%;
}

.about-header {
  margin: 120px 24px 0 24px;
}

.about-left,
.about-right {
  width: 50%;
  height: auto;
}

.about-left {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.about-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-header h2 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  text-align: left;
  color: #ff6b00;
}

.about-content,
.about-btn {
  margin: 24px 24px 0 24px;
}

.about-content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.btn {
  width: 10em;
  height: 3em;
  background-color: #ff6b00;
  color: #fff;
  padding: 12px;
  border: none;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3%;
}

.btn:hover {
  background-color: #fff5e1;
  color: #ff6b00;
  cursor: pointer;
}

.btn:active {
  background-color: #e05304;
  color: #fff5e1;
  cursor: pointer;
}

.about-illustration-desktop {
  display: none;
}

/* Skill section styles */
.skill {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #1c1a19;
  color: #fff;
  padding-top: 24px;
}

.topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.topics h2 {
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.orng1 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: nowrap;
}

.orng1 span {
  margin-right: 5px;
}

.sub-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-list-items-li {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.form-wrapper {
  margin: 120px 24px;
  display: flex;
  flex-direction: column;
}

.title-h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #172b4d;
}

.form-container {
  margin-top: 67px;
  width: 100%;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-li {
  margin-top: 20px;
  width: 100%;
}

.user-info,
.user-msg {
  width: 100%;
  font-size: 15px;
}

.user-info {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
}

.user-msg {
  border: none;
  padding: 12px;
  background-color: #fbf8f7;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  resize: none;
}

.submit-btn {
  margin: 24px 0 4px 0;
}

/* Footer */

.footer-div {
  border-top: 1px solid #dbd8d7;
  display: flex;
  justify-content: center;
}

.social-media-footer {
  padding: 25px 0;
  align-items: center;
}

.social-icon ul li a {
  margin: 0 5px;
}

.navbar,
.hero,
.works,
.about,
.skill,
.form-section,
.footer-div {
  min-width: 320px;
}

/* Responsive Design for Desktop */
@media screen and (min-width: 992px) {
  .navbar,
  .hero,
  .works,
  .about,
  .skill,
  .form-section,
  .footer-div {
    width: 100%;
  }

  /* Navbar */
  .navbar {
    align-items: center;
  }

  .hamburger-icon {
    display: none;
  }

  .nav-element {
    height: 100%;
    padding: 32px;
    align-items: center;
  }

  .nav-logo {
    margin-left: 16%;
  }

  .desktop-menu {
    margin-right: 5%;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    height: 92px;
  }

  .desktop-menu li a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 12px;
  }

  .mail-li {
    display: inline;
    margin-top: 5px;
  }

  .mail-icon {
    display: inline-flex;
    width: 24px;
    height: 24px;
    background-image: url(./assests/mail-icon.png);
  }

  /* Hero */
  .hero {
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
  }

  .hero-left {
    order: 1;
    width: 10%;
    align-self: center;
    height: 50%;
  }

  .hero-center,
  .hero-right {
    order: 2;
  }

  .hero-center {
    width: 40%;
    align-self: center;
  }

  .hero-center p {
    width: 70%;
    flex-grow: 3;
  }

  .hero-right {
    align-self: flex-start;
    flex-grow: 1;
    width: 60%;
    height: 100%;
  }

  .social-media {
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding-left: 36px;
    margin-right: 80px;
  }

  .social-icon {
    margin-top: 12px;
  }

  .illustartion-div {
    display: none;
  }

  .illustartion-div-desktop {
    display: inline-block;
  }

  .bg_image2 {
    width: 100%;
    height: 100%;
  }

  /* Works */

  .works {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .works-col-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    align-items: center;
  }

  .works-subject {
    width: 30%;
    margin-top: 0;
    color: #091e42;
  }

  .divider-img {
    width: 100%;
  }

  .works-row-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  .works-col-2 {
    display: flex;
    width: 40%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #091e42;
  }

  .tech li {
    margin: auto 2px;
  }

  .works-screen {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .works-screen img {
    width: 100%;
    height: 100%;
  }

  /* Products */
  .products-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-tech ul {
    top: 85%;
  }

  .card-content-p {
    top: 55%;
  }

  .card-subject h4 {
    top: 30%;
  }

  .grd3 .card-subject h4,
  .grd6 .card-subject h4 {
    top: 42%;
  }

  .grd3,
  .grd6 {
    background-image: url(./assests/dsk-3-6.png);
  }

  .grd2,
  .grd5 {
    background-image: url(./assests/dsk-2-5.png);
  }

  .grd1 {
    background-image: url(./assests/dsk-1.png);
  }

  .grd1 .card-subject,
  .grd1 .card-content,
  .grd1 .card-tech {
    display: none;
  }

  .grd2 .btn-div,
  .grd3 .btn-div,
  .grd4 .btn-div,
  .grd5 .btn-div,
  .grd6 .btn-div {
    display: none;
  }

  .h4-mobile {
    display: none;
  }

  .h4-desktop {
    display: inline-block;
  }

  /* About me */
  .about {
    flex-direction: row;
  }

  .about-illustration-desktop {
    display: inline-block;
  }

  .about-illustration-desktop img {
    width: 100%;
  }

  .about-illustration-mobile {
    display: none;
  }

  /* Skills */
  .skill {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5% 5%;
    width: 100%;
  }

  .topics {
    width: 30.33%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
  }

  .topics h2,
  .topics ul li {
    align-items: center;
    width: 50%;
    text-align: center;
  }

  .about-divider {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
    padding: 32px;
    border-top: 1px solid #fff;
  }

  /* Form */

  .form-wrapper {
    flex-direction: row;
    padding: 0 5%;
    align-items: baseline;
    flex-wrap: wrap;
    height: auto;
  }

  .form-container {
    width: 60%;
  }

  .form-title {
    width: 40%;
  }

  .title-h2 {
    font-size: 2em;
    text-align: left;
    color: #262626;
  }

  .input-fields {
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* Footer */
  .footer-main {
    width: 100%;
  }

  .footer-div {
    border-top: #dfe1e6 1px solid;
    width: 100%;
  }

  .social-media-footer {
    flex-direction: row;
  }
}
